p {
    font-family: Arial;
}

body {
    margin: 0px ;
    padding-top: 90px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(249, 249, 249);
    font-family: Arial;
}

