.sidebar {
    background-color: white;
    position: fixed;
    width:75px;
    top: 60px;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    padding-top: 5px;

}

.sidebar_link {
    height: 50px;
    padding-top: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar_link:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
} 
.sidebar_icons {
    width: 25px;
    margin-bottom: 3px;
}

.sidebar_icon_name {
    font-size: 10px;
    margin-top: 0px;
}